<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="{{url_for('static', filename='musicplayer.js')}}"></script>
    </head>
    <body>
        <h1>Actual game page!</h1>
        <button onclick="play()" class="button">play</button>
	<br>
        <input type="text" id="guess" name="guess" autofocus="true" placeholder="guess">
        <button onclick="check()" id = "checkButton" class="button">check answer</button>
	<br>
    </body>
</html>
