<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="{{url_for('static', filename='musicplayer.js')}}"></script>
    </head>
    <body>
        <h1>Actual game page!</h1>
        <a href="results" class="link">results</a><br>
        <button onclick="play()"></button>
        <input type="text" id="guess" name="guess" autofocus="true" placeholder="guess">
        <button onclick="check()"></button>
    </body>
</html>