<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script>
        window.onload = function () {
            if (localStorage.option){
                document.getElementById("asdasd").innerHTML = localStorage.option
            }
        }
    </script>
</head>
<body>
    <h1>Spotify music guesser page!</h1>
    <div class="button-container">
        <a href="settings" class="button">Settings</a><br>
        <a href="game" class="button">GSSSSame</a><br>
    </div>
    <a id = "asdasd">null</button>
</body>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h1>Music guesser page!</h1>
    </body>
</html>