<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="style.css">
    <script>
        if (localStorage.option){
            document.getElementById("asdasd").innerHTML = localStorage.option
        }
    </script>
</head>
<body>
    <h1>Spotify music guesser page!</h1>
    <a href="settings" class="link">settings</a><br>
    <a href="game" class="link">game</a><br>
    <a id = "asdasd">null</button>
</body>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h1>Music guesser page!</h1>
    </body>
</html>